
    
@mixin sections
    display: flex
    height: calc(100vh - 60px)
    width: 100%
    justify-content: center
    align-items: center

@mixin hello-txt
    text-align: center
    color: $color-hello-text
    // margin: 0 auto



$main-black: #000000
$main-white: #ffffff
$gray: #a0a0a0
$dark-gray: #202225
$light-blue: #4d92fa 
$color-hello-text: black  
$br: 20px
$main-font: "SCP"