@import "styles/blocks/_footer.sass"
@import "styles/blocks/_header.sass"
@import "styles/blocks/_hero-block.sass"
// @import "styles/blocks/_typing-block.sass"

@import "styles/blocks/_main.sass"
@import "styles/blocks/_partners.sass"
@import "styles/blocks/_login.sass"
@import "styles/blocks/_register.sass"
@import "styles/blocks/_catalog.sass"



*
    margin: 0
    padding: 0

html
    background-color: white

body
    display: block

html body p
    font-family: "SCP"

div
    font-family: "SCP"

span
    font-family: "SCP"

.hidden 
    display: none !important


button 
    padding: 0
    margin: 0
    border: 0
    background: none
    font: inherit



