{% extends "base.html" %}

{% block content %}
<div class="about-main-block">

        <div class="about-content">
            <div class="container-about about-wide">
                <h1>О проекте SkiSpot</h1>
                <p>
                    <strong>SkiSpot</strong> — это не просто каталог горнолыжных курортов России. Это проект-эксперимент, рожденный из желания разобраться, как устроены современные высоконагруженные веб-приложения изнутри.
                </p>
                <h3>Зачем создан этот проект?</h3>
                <p>
                    Основная цель — глубокое изучение backend-разработки и архитектуры данных. В процессе создания я фокусировался на следующих задачах:
                </p>
                <ul>
                    <li><strong>Проектирование структуры:</strong> Организация взаимодействия между фронтендом и мощным бэкендом на <strong>FastAPI</strong>.</li>
                    <li><strong>Работа с данными:</strong> Проектирование реляционных баз данных в <strong>PostgreSQL</strong> и работа через SQLAlchemy.</li>
                    <li><strong>Интеграция технологий:</strong> Совмещение классической верстки, кастомного JavaScript и серверной логики в единую экосистему.</li>
                </ul>
                <h3>Технологический стек</h3>
                <p>
                    При разработке я придерживался принципа осознанного кодинга:
                    <ul>
                        <li><strong>Backend:</strong> Вся логика написана самостоятельно на основе академических знаний с курсов Stepik и профильных материалов.</li>
                        <li><strong>Frontend & JS:</strong> Визуальная часть и динамика реализованы с помощью современных инструментов и нейросетей, что позволило сфокусироваться на архитектурных решениях, не жертвуя качеством интерфейса.</li>
                        <li><strong>Базы данных:</strong> Реализована сложная структура хранения курортов, отзывов и пользовательских профилей.</li>
                    </ul>
                </p>

                <p>
                    SkiSpot постоянно развивается: я добавляю новые модули (например, систему отзывов и админ-панель), чтобы на практике понять, как масштабируются реальные IT-продукты.
                </p>
            </div>
        </div>
</div>


{% endblock %}