<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SkiSpot</title>
    <link rel="icon" type="image/png" href="/static/logos/mountain/favicon.png">
    <link rel="stylesheet" href="/static/style.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&subset=cyrillic&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="nav-container">
            <nav class="nav-bar">
                <div class="left-section">

                    <!-- <button class="z" onclick="showMain()" > -->
                        <!-- <img src="/static/logos/ztype.png" alt="z"> -->
                    <!-- </button> -->
                    <button class="ski-spot" onclick="showMain()">
                        <img src="/static/logos/mountain/white-soft-mountain.png" alt="main-logo">
                        SkiSpot
                    </button>
                    <ul class="nav-links">
                        <li><a href="/">Главная</a></li> 
                        <li><a href="/about">О проекте</a></li>
                    </ul>
                </div>
                
                <div class="right-section">
                    <!-- <div class="nav-icons">
                        <a href="#"><img src="/static/logos/image_2025-10-16_20-47-38.png"></a>
                        <a href="#"><img src="/static/logos/image_2025-10-16_20-47-28.png"></a>
                        <a href="#"><img src="/static/logos/image_2025-10-16_20-47-47.png"></a>
                    </div> -->
                    
                    <button class="btn-log-in">Log in</button>
                    
                    <div class="user-buttons-container hidden">
                        <button class="btn-profile">
                            <img src="/static/logos/profile/image copy.png">
                        </button>

                        <button class="btn-logout">
                            <img src="/static/logos/logout/icons8-logout-96.png">
                        </button>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    {% block content %}
    {% endblock %}

    <script type="module" src="/static/JS/scripts.js"></script>

    {% block scripts %}
    {% endblock %}

</body>
</html>
